<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Google Apps">
    <listeners>
        <listener class-name="Listener.Listener" />
    </listeners>
    <test name="Regression">

        <classes>




        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->



